{% render 'partials/head.liquid' %}

  <p class="title">Luka Dujakovic</p>
  <p class="subtitle">a.k.a. Mr. Moggington</p>
    <img src="/assets/luka-face.jpg" width="150"/>
<main class="main">
  <div class="profileCardImgWrapper">
    <audio id="larry" src="/assets/larry.mp3" preload="auto"></audio>
    <img src="/assets/larry.jpg" width="150"/>
  </div>
</header>

{% render 'partials/foot.liquid' %}
