:root {
  --letter-spacing-normal: 3%;

  --size-heading: 72px;
  --size-heading-small: 64px;
  --size-heading-smaller: 58px;
  --size-body: 50px;
}

body {
  background-image: url(https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExNjFtb2kxbjBld3YyYTY3NXM1aWczYm5mN2htcHJtNHp6Z3BrOHQ1NiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/JKHVVuIwtt3Xhb3SjV/giphy.gif);
  background-size: cover;
}

.main {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 20px;
  padding-bottom: 10px;
  border-radius: 10px;
  border-color: black;
  border-style: solid;
  background-image: -webkit-linear-gradient(purple, orange);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    border-radius: 50%;
  }
}

.title{
  display: block;
  margin: 10px;
  text-align: center;
  font-size: var(--size-heading);
  letter-spacing: var(--letter-spacing-normal);
  font-family: Haettenschweiler;
}

.subtitle {
  display: block;
  margin: 10px;
  text-align: center;
  font-size: var(--size-heading-small);
  font-family: 'Brush Script MT', cursive;
}

.profileCardImgWrapper {
  justify-content: center;
  display: grid;
  max-width: 40%;
  img {
    grid-area: -1 / 1;
    opacity: 1;
    transition: none;
  }
  img:last-child {
    order: -1;
  }
}

.profileCardImgWrapper:hover {
  img:first-child {
    opacity: 0;
    transition: opacity 1.5s ease-out;
  }
}

.bioTitle {
  font-family: Haettenschweiler;
  letter-spacing: var(--letter-spacing-normal);
}

.dataDisplay {
  font-family: Arial, Helvetica, sans-serif;
}